*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .contenedor-header{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
}


header .contenedor-header .icon{
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(255, 254, 254);
}


header .contenedor-header .icon p{
    font-size: 15px;
}

body{
    background-color: rgb(41, 39, 35);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.contenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 20px ;
    padding: 20px;
}

.contenedor .contenedor_img{
    background-color: rgb(5, 5, 5);
    margin: 10px;
    width: 380px;
    height: 500px;
    padding: 15px;
    border-radius: 20px;
    
}

.contenedor .contenedor_img img{
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
} 

.contenedor .contenedor_img p{
    max-height: 100px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar {
    width: 10px; 
    background: transparent;
}

.contenedor .contenedor_img .btn-comprar{
    font-size: 15px;
    background-color: rgb(247, 166, 2);
    width: 100px;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    transition: .5s;
}

.contenedor .contenedor_img .btn-comprar:hover{
    font-size: 17px;
    color: white;
}


@media(max-width: 700px){

    header .contenedor-header{
        justify-content: left;
        position: left;
        font-size: 15px;
    }
    header .contenedor-header h1{
        margin-right: 50px;
    }


    header .contenedor-header .icon{
        margin-right: 10px;
        font-size: 25px;
    }

    header .contenedor-header .icon p{
        font-size: 15px;
    }

    .contenedor{
        display: block;
        margin-top: 20px ;
        padding: 20px;
    }

    .contenedor .contenedor_img{
        margin: 30px;
        width: 300px;
        height: 400px;
    }

    .contenedor .contenedor_img img{
        width: 150px;
        height: 200px;
    }

    .contenedor .contenedor_img .btn-comprar{
        font-size: 13px;
        width: 90px;

    }

}